<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keh.dao.KehMapper">
 
    <resultMap type="KehDto" id="memberMap">
        <result property="id" column="id" />
        <result property="pw" column="pw" />
        <result property="name" column="name" />
    </resultMap>
 
    <select id="memberList" resultMap="memberMap">
        SELECT * FROM kehtest
    </select>
   
</mapper>